<div class="alert alert-success">
    
## Машинное обучение

## Практическое домашнее задание 1

### Общая информация

Смотрите на даты мягкого и жёсткого дедлайна на странице в ноушне

### О задании

Задание состоит из трех небольших разделов, посвященных работе с табличными данными с помощью библиотеки pandas, визуализации с помощью matplotlib и маленькой задачки на использование numpy.

Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение `jupyter notebook` (будет использоваться в дальнейших заданиях), библиотек `pandas`, `numpy` и `matplotlib`/`seaborn`.

Большинство пакетов можно поставить через питоновский установщик pip, но проще установить [Anaconda](https://www.anaconda.com/products/distribution) с python3 – там будет уже куча нужных библиотек.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после жёсткого дедлайна нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов. Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

### Формат сдачи
Задания следует отправлять в гугл-форму по ссылке, прикрепленной в ноушне. Присылать необходимо ноутбук с выполненным заданием. Сам ноутбук при сдаче называйте в формате hw-01-pandas-Username.ipynb, где Username — ваша фамилия.

Для удобства проверки настоятельно рекомендуется самостоятельно посчитать свою максимальную оценку (исходя из набора решенных задач) и указать ниже.

Оценка: xx.

# Введение

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написанием production-кода.

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*.

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

In [3]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

4

In [4]:
# ячейка с кодом, при выполнении которой НЕ появится output
2 + 2;

Ячейка с неразмеченным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [5]:
# your code

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. Выделять *текст* <s>при</s> **необходимости**
2. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

А ещё можно вставлять картинки, или гифки, или что захотите:

<img src="https://img10.reactor.cc/pics/post/%D0%B3%D0%B8%D1%84%D0%BA%D0%B8-%D0%BF%D0%B0%D0%BD%D0%B4%D0%B0-%D0%B6%D0%B8%D0%B2%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BC%D1%8F%D1%87%D0%B8%D0%BA-1600214.gif" style="width: 400px">

### Google Colab

Что за колаб?

**Google Colab (Colaboratory)** это **Jupyter Notebook + Cloud + Google Drive.**

Компания Google предоставляет возможность бесплатно запускать ноутбуки (предварительно загрузив их на свой гугл-диск) прямо в облаке. При этом вам не требуется установка никаких пакетов на свою машину, а работать можно прямиком из браузера. Вот ссылка:

https://colab.research.google.com

При использовании вы увидете много сходств с jupyter ноутбуком. Одним из преимуществ является доступность GPU, соответствующую опцию можно активировать в настройках сервиса. При желании вы сможете найти в интернете много туториалов по использованию или разобраться самостоятельно :)

# I. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных.


Основной объект в pandas — это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.


Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

Обзор полезных ресурсов

В первую очередь, конечно же, официальная документация Pandas. В частности, рекомендуем короткое введение 10 minutes to pandas
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)
2. [Презентация](http://alexanderdyakonov.wordpress.com/2015/11/06/знакомство-с-pandas-слайды.html) Александра Дьяконова «Знакомство с Pandas»
5. [Серия](http://tomaugspurger.github.io/posts/modern-1-intro.html) постов "Modern Pandas" (на английском языке)


[scipy-lectures.org](http://scipy-lectures.org/index.html) — учебник по работе с pandas, numpy, matplotlib и scikit-learn

In [6]:
%pylab inline
import pandas as pd

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

<span style="color:red">Перед выполнением задания необходимо ознакомиться с первым семинаром (sem01-1-pandas.ipynb и sem01-2-numpy.ipynb) </span>.

Это поможет вам получить общее понимание происходяшего и успешнее справиться с заданием.

Также успешному выполнению способствует внимательное чтение текста задания от начала до конца.

Удачи!

<div class="alert alert-success">

Ниже вам следует продемонстрировать множество методов в Pandas на примере анализа данных о сражениях в популярном сериале "Игра престолов", который был снят по мотивам серии книг Дж.Мартина.
    
Cамо собой разумеется, что этот набор данных содержит спойлеры ;) Он объединяет три источника данных, каждый из которых основан на информации из серии книг.

- Во-первых, есть `battles.csv`, который содержит данные Криса Албона "The Война пяти королей". Это
отличная коллекция всех битв в серии.
- Во-вторых, у нас есть файл `character-deaths.csv` от Эрин Пирс и Бена Кейла. Этот набор данных был создан в рамках их проекта "Байесовский анализ выживаемости".

Наконец, у нас есть более полный набор данных по персонажам с `character-predictions.csv`. Он
включает их предсказания о том, какой персонаж умрет. Он был подготовлен командой "A Song of Ice and Data", которая собрала эти данные с [сайта](http://awoiaf.westeros.org/). Методологию можно найти [здесь](https://got.show/machine-learning-algorithm-predicts-death-game-of-thrones)

Для каждой задачи вы должны написать код для получения ответа, а также дать текстовый ответ, если он предполагается.

На некоторые вопросы вы можете получить ответ путём пристального взгляда на таблицу, но это не будет засчитываться. Вы в любом случае должны получить ответ с помощью кода.

#### [0 баллов] Импортируйте все данные (не забудьте про формат). Выведите последние 10 строк каждого набора данных.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы? (на это не надо отвечать, просто подумайте об этом)

In [7]:
# your code
#import
battles = pd.read_csv("battles.csv", sep=",", index_col=0)
character_deaths = pd.read_csv("character-deaths.csv", sep=",", index_col=0)
character_predictions = pd.read_csv("character-predictions.csv", sep=",", index_col=0)

#output
battles.tail(10)
character_deaths.tail(10)
character_predictions.tail(10)

# additional
# battles.shape

,actual,pred,alive,plod,name,title,male,culture,dateOfBirth,DateoFdeath,...,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,boolDeadRelations,isPopular,popularity,isAlive
S.No,,,,,,,,,,,,,,,,,,,,,
1937,1,1,0.847,0.153,Walder Rivers,Ser,1,Rivermen,NaN,NaN,...,NaN,1.0,1,1,NaN,0,0,0,0.080268,1
1938,0,0,0.155,0.845,Symon Silver Tongue,NaN,1,NaN,NaN,299.0,...,NaN,NaN,0,0,NaN,0,0,0,0.046823,0
1939,1,0,0.201,0.799,Moqorro,Slave of R'hllor,1,NaN,NaN,NaN,...,NaN,NaN,0,1,NaN,0,0,0,0.123746,1
1940,1,1,0.982,0.018,Meg,NaN,0,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.010033,1
1941,0,0,0.003,0.997,Laena Velaryon,NaN,0,Valyrian,93.0,120.0,...,NaN,0.0,1,0,27.0,0,0,0,0.140468,0
1942,0,1,0.803,0.197,Luwin,NaN,1,Westeros,NaN,299.0,...,NaN,NaN,0,0,NaN,0,0,1,0.351171,0
1943,0,1,0.987,0.013,Reek,NaN,1,NaN,NaN,299.0,...,NaN,NaN,0,0,NaN,0,0,0,0.096990,0
1944,1,1,0.520,0.480,Symeon Star-Eyes,NaN,1,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.030100,1
1945,1,1,0.637,0.363,Coldhands,NaN,1,NaN,NaN,NaN,...,NaN,NaN,0,0,NaN,0,0,0,0.130435,1
1946,0,0,0.093,0.907,Tytos Lannister,Casterly Rock,1,NaN,220.0,267.0,...,NaN,1.0,1,1,47.0,4,1,0,0.210702,0

Все задания ниже, относящиеся к пункту I имеют равный вес (4/22).

#### 1. Есть ли в данных `character-predictions.csv` пропуски? В каких колонках? Сколько их в каждой из этих колонок? Сколько всего в общем?

In [8]:
# your code
# Пропуски в данных (True - есть, False -нет)
character_predictions.isna()
# Количество пропусков в колонках с именами колонок
character_predictions.isna().sum()
# Всего пропусков в данных
character_predictions.isna().sum().sum()

22108

#### 2. Заполните пропуски в `character-predictions.csv` пустой строкой для строковых колонок и нулём для числовых (постарайтесь избежать перечисления названий всех столбцов).

In [9]:
# your code
character_predictions_filled = character_predictions.copy(True)
character_predictions_filled.fillna(character_predictions_filled.dtypes.replace({'float64': 0.0, 'O':''}), inplace=True)

Проверьте, что в ваших данных отсутствуют нулевые значения:

In [10]:
# your code
# Количество пропусков в колонках с именами колонок
#character_predictions_filled.isna().sum()
print(character_predictions_filled.isna().sum().sum())

0

#### 3. Как сражения в 299 году повлияли на количество основных_смертей? ( используйте данные из `battles.csv`)

Например, в скольких битвах погиб хотя бы один командир и в скольких не погиб ни один

In [11]:
# your code
battles_299 = battles.loc[battles["year"] == 299]
# True - если не погиб ни один
# False - если погиб хотя бы один
(battles_299['major_death'] == 0.0).value_counts()

major_death
True     12
False     8
Name: count, dtype: int64

#### 4. Каково среднее число смертей в наборе данных? см. `major_death`

In [12]:
# your code
battles["major_death"].mean()

0.35135135135135137

#### 5. Каково среднее количество смертей только за 299 год? см. `major_death`

In [13]:
# your code
battles_299["major_death"].mean()

0.4

#### 6. Перечислите наибольшее количество сражений, произошедших за год, используя два разных метода**

А также ниже выпишите год с наибольшим и с наименьшим числом сражений

In [14]:
# your code
battles_cpy = battles.copy(True)
print(battles_cpy["year"].value_counts().max())
print((battles_cpy.groupby("year").count())["battle_number"].max())

min_idx = battles.groupby("year").count()["battle_number"].argmin()
print(f'Min: {battles.groupby("year").count()["battle_number"].index[min_idx]}')
max_idx = battles.groupby("year").count()["battle_number"].argmax()
print(f'Max: {battles.groupby("year").count()["battle_number"].index[max_idx]}')

20
20
Min: 298
Max: 299

####  7. Найти среднее количество крупных захватов за битву. см. `major_capture`

In [15]:
# your code
battles["major_capture"].mean()

0.2972972972972973

#### 8. Напишите количество битв, проведенных каждым из нападавших королей

In [16]:
# your code
print(battles["attacker_king"].value_counts())

attacker_king
Joffrey/Tommen Baratheon    14
Robb Stark                  10
Balon/Euron Greyjoy          7
Stannis Baratheon            5
Name: count, dtype: int64

### Далее давайте применим методы pandas для другого набора данных.

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:

    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### 9. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [17]:
# your code
import os

dir = "Data"
files = os.listdir(dir)
files.sort()

df_info = pd.DataFrame()
df_marks = pd.DataFrame()

for file in files:
  concated = pd.read_csv(dir + '/' + file) 
  if file.find("Students_info") != -1:
    df_info = pd.concat([df_info, concated])
  if file.find("Students_marks") != -1:
    df_marks = pd.concat([df_marks, concated])

df = pd.merge(df_info, df_marks, on="index", how="outer")
df

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### 10. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [18]:
# your code
df_without_index = df.drop('index', axis=1)
df_without_index.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### 11. Выведите на экран размеры полученной таблицы

In [19]:
# your code
df_without_index.shape

(1000, 9)

12. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [20]:
# your code
numbers_only = df_without_index.select_dtypes("number")
numbers_only.max()

math score       100
reading score    100
writing score    100
dtype: int64

In [21]:
numbers_only.min()

math score        0
reading score    17
writing score    10
dtype: int64

In [22]:
numbers_only.mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

In [23]:
numbers_only.std()

math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

13. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [24]:
# your code
df_without_index.groupby(['test preparation course'])['math score'].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [25]:
df_without_index.groupby(['test preparation course'])['reading score'].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [26]:
df_without_index.groupby(['test preparation course'])['writing score'].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

 14. Выведите на экран все различные значения из столбца lunch.

In [27]:
# your code
df_without_index['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

15. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [28]:
# your code
df_renamed = df_without_index.copy()
df_renamed = df_renamed.rename(columns={'test preparation course': 'test preparation',
                                        'parental level of education': 'education'})
df_renamed

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

Зафиксируем минимальный балл для сдачи экзамена

In [29]:
passmark = 50

16. Ответьте на вопросы: * Какая доля студентов сдала экзамен по математике (passmark >= 50)? * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике? * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [30]:
# your code
# доля студентов сдала экзамен по математике - True
passed = (df_without_index['math score'] >= passmark).sum()
passed / df_without_index.shape[0]

0.865

In [31]:
# доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике - True
prep_passed = ((df_renamed['math score'] >= passmark) &
                (df_renamed['test preparation'] == 'completed')).sum()
prep = (df_renamed['test preparation'] == 'completed').sum()
prep_passed / prep

0.9217877094972067

In [32]:
# доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике
female_no_prep_failed = ((df_renamed["gender"] == "female") & 
                         (df_renamed['test preparation'] == 'none') & 
                         (df_renamed['math score'] < passmark)).sum()
female_no_prep = ((df_renamed["gender"] == "female") & 
                  (df_renamed['test preparation'] == 'none')).sum()
print(female_no_prep_failed, female_no_prep)
female_no_prep_failed / female_no_prep

70 334

0.20958083832335328

17. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий. * Для каждой этнической группы выведите средний балл за экзамен по чтению * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [33]:
%%time
# Этническая группа - балл
df_renamed.groupby(['race/ethnicity'])['reading score'].mean()

CPU times: user 665 µs, sys: 389 µs, total: 1.05 ms
Wall time: 884 µs

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [34]:
%%time
# Образование - балл
df_renamed.groupby(['education'])['writing score'].mean()

CPU times: user 907 µs, sys: 0 ns, total: 907 µs
Wall time: 787 µs

education
associate's degree    69.896396
bachelor's degree     73.381356
high school           62.448980
master's degree       75.677966
some college          68.840708
some high school      64.888268
Name: writing score, dtype: float64

18. Выполните предыдущее выше задание с помощью циклов. Сравните время выполнения.

In [35]:
%%time
# Этническая группа - балл
import numpy as np
gr = df_renamed['race/ethnicity'].unique()
gr.sort()
groups_sum = np.zeros(gr.shape[0])
groups_counters = np.zeros(gr.shape[0])
for group, score in zip(df_renamed['race/ethnicity'], df_renamed['reading score']):
  for index in range(gr.shape[0]):
    if group == gr[index]:
      groups_counters[index] += 1
      groups_sum[index] += score
for i in range(gr.shape[0]):
  print(f'{gr[i]}: {groups_sum[i] / groups_counters[i]}')

group A: 64.67415730337079
group B: 67.35263157894737
group C: 69.10344827586206
group D: 70.03053435114504
group E: 73.02857142857142
CPU times: user 1.35 ms, sys: 0 ns, total: 1.35 ms
Wall time: 1.28 ms

In [36]:
%%time
# Образование - балл
gr = df_renamed['education'].unique()
gr.sort()
groups_sum = np.zeros(gr.shape[0])
groups_counters = np.zeros(gr.shape[0])
for group, score in zip(df_renamed['education'], df_renamed['writing score']):
  for index in range(gr.shape[0]):
    if group == gr[index]:
      groups_counters[index] += 1
      groups_sum[index] += score
for i in range(gr.shape[0]):
  print(f'{gr[i]}: {groups_sum[i] / groups_counters[i]}')

associate's degree: 69.8963963963964
bachelor's degree: 73.38135593220339
high school: 62.44897959183673
master's degree: 75.67796610169492
some college: 68.84070796460178
some high school: 64.88826815642459
CPU times: user 1.18 ms, sys: 0 ns, total: 1.18 ms
Wall time: 1.14 ms

19. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [50]:
# your code
df_renamed.groupby('gender')

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

20. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [38]:
# your code
df_status = df_renamed.copy()
df_status["Math_PassStatus"] = df_status["math score"].apply(lambda x: "F" if (x < passmark) else "P")
df_status['Math_PassStatus'].value_counts()

Math_PassStatus
P    865
F    135
Name: count, dtype: int64

In [39]:

df_status["Reading_PassStatus"] = df_status["reading score"].apply(lambda x: "F" if (x < passmark) else "P")
df_status['Reading_PassStatus'].value_counts()

Reading_PassStatus
P    910
F     90
Name: count, dtype: int64

In [40]:
df_status["Writing_PassStatus"] = df_status["writing score"].apply(lambda x: "F" if (x < passmark) else "P")
df_status['Writing_PassStatus'].value_counts()

Writing_PassStatus
P    886
F    114
Name: count, dtype: int64

21. Сколько студентов успешно сдали все экзамены?
Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [44]:
def status_func(math, write, read):
  if math == "F":
    return "F"
  if write == "F":
    return "F"
  if read == "F":
    return "F"
  return "P"

df_status["OverAll_PassStatus"] = df_status.apply(lambda x: status_func(x["Math_PassStatus"], x["Reading_PassStatus"], x["Writing_PassStatus"]), axis=1)
(df_status["OverAll_PassStatus"] == "P").sum()

812

22. Переведем баллы в оценки

 Система перевода баллов в оценки:
                      больше 90 = A
                      80-90 = B
                      70-80 = C
                      60-70 = D
                      50-60 = E
                      меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [49]:
def GetGrade(average_mark):
  if average_mark < 50:
    return "F"
  elif average_mark <= 60:
    return "E"
  elif average_mark <= 70:
    return "D"
  elif average_mark <= 80:
    return "C"
  elif average_mark <= 90:
    return "B"
  elif average_mark > 90:
    return "A"

def get_average(math, writing, reading):
    return (math + writing + reading) / 3

df_status["Grade"] = df_status.apply(lambda x: GetGrade(get_average(x["math score"], x["reading score"], x["writing score"])), axis=1)
df_status["Grade"].value_counts()

# your code here

Grade
D    260
C    253
E    190
B    144
F    103
A     50
Name: count, dtype: int64

На этом с пандами пока все, но только на сегодня;)

<img src="https://media1.tenor.com/images/9b8fbe9214504bcf6c60fe4e4f7e114e/tenor.gif?itemid=5416416" style="width: 400px">

## II. Визуализации

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. Здесь будут описаны ключевые правила оформления графиков для **всех** домашних заданий.

У matplotlib, конечно же, есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторой величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить один из них. Не забывайте про базовые принципы построения приличных графиков:
- оси должны быть подписаны, причём не слишком мелко;
- у графика должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах);
- сетка на графике помогает оценить значения в точках на глаз, это обычно полезно, поэтому лучше ее отрисовывать;
- если распределение на гистограмме имеет тяжёлые хвосты, лучше использовать логарифмическую шкалу.

Каждый построенный график необходимо красиво оформить - для этого требуется как минимум указать его название, а также отметить, что изображено по каждой из осей.
Также по каждому графику ожидается небольшой комментарий с выводами.

*Функции, которые могут пригодиться при оформлении графиков: `.show()`, `.title()`, `.xlabel()`, `.ylabel()`*

Еще одна билиотека для визуализации: [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html) (обычно сокращается до sns). Это настройка над matplotlib, иногда удобнее и красивее делать визуализации через неё.



**5 пунктов после которых ваши графики не будут прежними:**
- для красивой картинки <code>%config InlineBackend.figure_format = 'retina'</code>
- задаем размер (почти) всех графиков (можно выбрать другие значения) <code>plt.rcParams['figure.figsize'] = 8, 5</code>
- размер шрифта подписей графиков <code>plt.rcParams['font.size'] = 12</code>
- формат в котором сохраняется изображение <code>mpl.rcParams['savefig.format'] = 'pdf'</code>
- sns – seaborn, добавляет решетку <code>sns.set_style('darkgrid')</code>

Добавьте эти функции в ячейку ниже. Каждый график все равно придется настраивать отдельно, но указанные строчки позволят значительно упростить процесс.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# your code

Все задания, относящиеся к пункту II имеют равный вес (3/14).

Вернемся к данным о сражениях из сериала "Игра престолов":

#### 1. Выведите на экран круговую диаграмму распределения количества смертей. Какие Вы можете следать по ней выводы?
Этот инструмент отлично подходит для визуализации собранных нами данных. На выбор предлагается множество графиков: столбик, линия, круговая диаграмма или диаграмма рассеяния.

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

#### 2. Выведите на экран гистограмму, показывающую количество умерших людей по отношению к каждому дому.

In [ ]:
# your code

#### 3. Выведите на экран диаграмму, используя библиотеку `seaborn`, которая бы наглядно показала количество битв, в которых король участвовал в качестве защитника

In [ ]:
# your code

#### 4. Выведите на экран диаграмму, используя библиотеку `seaborn`, которая бы наглядно показала количество битв, в которых король участвовал в качестве атакующего

In [ ]:
# your code

#### 5. Выведите на экран диаграмму зависимости успеха атаки от числа защитников. Используйте "ящик с усами" из `seaborn`

In [ ]:
# your code

#### 6. Приведите ниже диаграмму, которая показывает, как количество серьезных смертей повлияло на результат битвы для атакующего ('Влияние гибели командира на исход битвы').

In [ ]:
# your code

#### 7. Приведите ниже диаграмму, которая показывает, как количество крупных захватов повлияло на результат боя для атакующего ('Влияние пленения командира на исход битвы').

In [ ]:
# your code

# И ещё немного EDA и визуализаций

Теперь поработаетм с такой задачей, как задача кредитного скоринга (оценка надёжности клиента).

Предоставляются данные о 1000 клиентов, про которых известно около 20 признаков и положительная или отрицательная оценка в качестве кредитуемого. Эти данные нужно будет подготовить, исследовать (в том числе с помощью средств визуализации) и даже попробовать предложить какую-нибудь формулу для условной оценки надёжности клиентов исходя из предоставленных данных. Описание данных:
https://www.rdocumentation.org/packages/evtree/versions/1.0-8/topics/GermanCredit

8. Прочитайте средствами pandas файл с данными `german_credit.csv`. Выведите базовое представление таблицы (первые 5 и последние 5 строк, размер).

In [ ]:
# your code

9. Рассмотрим сравнительное количество положительных и отрицательных кейсов в зависимости от размера текущего счёта. Постройте зеркальные горизонтальные гистограммы.

In [ ]:
# your code

10. Теперь постройте гистограмму для сравнения количества положительных и отрицательных кейсов в зависимости от размера сберегательного счёта с помощью seaborn. Какой способ вам больше нравится с точки зрения трудоёмкости написания кода? А с точки зрения восприятия результата? (используйте `seaborn`)

In [ ]:
# your code

11. `seaborn` легко позволяет добавить ещё больше информации на один график. Для каждого размера сберегательного счёта мы можем оценить не только количество положительных и отрицательных кейсов, но и их распределение по возрасту, например. Постройте подходящую для этого визуализацию.

In [ ]:
# your code

12. Заканчивая с гистограммами, посмотрим на распределение положительных и отрицательных кейсов по возрастам, разместив их друг над другом. Добавим распределение всех взятых кредитов.

In [ ]:
# your code here

13. Не менее полезной иногда может быть диаграмма рассеяния. Постройте такую диаграмму с продолжительностью и размерами кредитов в качестве осей. Обозначьте положительные и отрицательные кейсы разными цветами.

In [ ]:
# your code here

14. Продвинемся глубже. Постройте 3D версию диаграммы рассеяния, добавив ось с возрастом.

In [ ]:
# your code here

## III. NumPy


Далее вы попрактикуетесь в работе с библиотекой numpy, которая позволяет сравнительно легко и удобно выполнять разнообразные вычисления, избегая самостоятельной реализации поэлементной обработки.

Во всех задачах необходимо написать код решения внутри функции и убедиться, что она работает, с помощью assert на выражение с использованием этой функции для данных из условия.

При решении задач запрещается использовать циклы (for, while) и оператор if.

Везде, где встречаются массивы или матрицы, подразумевается, что это numpy.array.

numpy reference: https://numpy.org/doc/stable/reference/index.html



**NumPy** — библиотека языка Python, позволяющая (удобно) работать с многомерными массивами и матрицами. Кроме того, NumPy позволяет векторизовать многие вычисления, имеющие место в машинном обучении.

 - [numpy](http://www.numpy.org)
 - [numpy tutorial](http://cs231n.github.io/python-numpy-tutorial/)
 - [100 numpy exercises](http://www.labri.fr/perso/nrougier/teaching/numpy.100/)

Кстати, про NumPy недавно вышла [публикация](https://www.nature.com/articles/s41586-020-2649-2) в Nature.

Все задания ниже имеют равный вес (3/10).

#### Задача NumPy-1
Напишите функцию, возвращающую округленную взвешенную сумму оценок по данным оценкам и весам. Можете посчитать свою оценку за курс :) В нашем случае вес экзамена равен 0.3, вес домашек - 0.4, вес контрольной - 0.2, вес самостоятельных - 0.1. Например, если за экзамен у вас 7, за домашки 10, за контрольную 8, а за самостоятельные 6, то вы получите отличную оценку 8!

In [ ]:
def result_mark(weights: np.array, marks: np.array) -> int:
    # your code here

In [ ]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 10, 8, 6])

assert result_mark(weights, marks) == 8

In [ ]:
weights = np.array([0.3, 0.4, 0.2, 0.1])
marks = np.array([7, 0, 8, 6])

assert result_mark(weights, marks) == 4

#### Задача NumPy-2
Напишите функцию, меняющую каждое третье (начиная с 0) значение массива целых чисел на заданное число. Например, если на вход поступает массив `array([3, 5, 1, 0, -3, 22, 213436])` и число `-111`, то на выходе должен получиться массив `array([-111, 5, 1, -111, -3, 22, -111])`.

In [ ]:
def change_array(array: np.array, number: int) -> np.array:
    # your code here

In [ ]:
array = np.array([3, 5, 1, 0, -3, 22, 213436])
number = -111

assert np.allclose(change_array(array, number), np.array([-111, 5, 1, -111, -3, 22, -111]))

NameError: name 'np' is not defined

In [ ]:
array = np.array([3, 14, 15, 92, 6])
number = 8

assert np.allclose(change_array(array, number), np.array([8, 14, 15, 8, 6]))

#### Задача NumPy-3

Напишите функцию, выдающую индексы «близких» элементов заданных массивов, а именно тех пар элементов, чей модуль разницы не превосходит заданного значения. Например, если на вход поступают массив `array([1.5, 0.5, 2, -4.1, -3, 6, -1])`, массив `array([1.2, 0.5, 1, -4, 3, 0, -1.2])` и число `0.5`, то на выходе должен получиться массив `array([0, 1, 3, 6])` (**важно: не `tuple`, а одномерный массив типа `numpy.ndarray` (то есть `.ndim` от него равно 1)!**).

In [ ]:
def find_close(array1: np.array, array2: np.array,
               precision: float) -> np.array:
    # your code here

In [ ]:
array1 = np.array([1.5, 0.5, 2, -4.1, -3, 6, -1])
array2 = np.array([1.2, 0.5, 1, -4.0,  3, 0, -1.2])
precision = 0.5
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([0, 1, 3, 6]))

In [ ]:
array1 = np.array([3.1415, 2.7182, 1.6180, 6.6261])
array2 = np.array([6.6730, 1.3807, -1,     6.0222])
precision = 1.7
res = find_close(array1, array2, precision)

assert res.ndim == 1
assert np.allclose(res, np.array([1, 3]))

#### Задача NumPy-4
Напишите функцию, которая составляет блочную матрицу из четырех блоков, где каждый блок - это заданная матрица. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
\end{pmatrix},
$$
то ответом будет матрица
$$
\begin{pmatrix}
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
0 & 1 & 2 & 0 & 1 & 2\\
3 & 4 & 5 & 3 & 4 & 5\\
\end{pmatrix}
$$

In [ ]:
def block_matrix(block: np.array) -> np.array:
    # your code here

In [ ]:
block = np.array([[1, 3, 3], [7, 0, 0]])

assert np.allclose(
    block_matrix(block),
    np.array([[1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0],
              [1, 3, 3, 1, 3, 3],
              [7, 0, 0, 7, 0, 0]])
)

#### Задача NumPy-5
Напишите функцию, вычисляющую произведение всех ненулевых диагональных элементов на диагонали данной квадратной матрицы. Например, если на вход поступает матрица
$$
\begin{pmatrix}
0 & 1 & 2\\
3 & 4 & 5\\
6 & 7 & 8\\
\end{pmatrix},
$$
то ответом будет 32.

Элементы матрицы считать целочисленными.

In [ ]:
def diag_prod(matrix: np.array) -> int:
    # your code here

In [ ]:
matrix = np.array([[0, 1, 2, 3],
                   [4, 5, 6, 7],
                   [8, 9, 10, 11],
                   [12, 13, 14, 15]])

assert diag_prod(matrix) == 750

####  Задача NumPy-6
Для улучшения качества работы некоторых алгоритмов машинного обучения может быть полезно использовать [нормализацию данных](https://vk.cc/8xmfQk), чтобы привести признаки в выборке к одному масштабу — а именно, из каждого столбца вычесть среднее его значений и поделить на их стандартное отклонение. Напишите функцию, нормализующую входящую матрицу (по столбцам). Например, если на вход подается матрица
$$
\begin{pmatrix}
1 & 4 & 4200\\
0 & 10 & 5000\\
1 & 2 & 1000\\
\end{pmatrix},
$$
то результатом с точностью до сотых будет матрица
$$
\begin{pmatrix}
0.71 & -0.39 & 0.46\\
-1.41 & 1.37 & 0.93\\
0.71 & -0.98 & -1.39\\
\end{pmatrix}
$$

Учтите, что в вашем матрице не должно получаться никаких nan. Подумайте, в каком случае они могут возникнуть и как обойти эту проблему.

_Подсказка. Казалось бы, при чем тут деление на ноль._

In [ ]:
def normalize(matrix: np.array) -> np.array:
    # your code here

In [ ]:
matrix = np.array([[1, 4, 4200], [0, 10, 5000], [1, 2, 1000]])

assert np.allclose(
    normalize(matrix),
    np.array([[ 0.7071, -0.39223,  0.46291],
              [-1.4142,  1.37281,  0.92582],
              [ 0.7071, -0.98058, -1.38873]])
)

In [ ]:
matrix = np.array([[-7, 2, 42], [2, 10, 50], [5, 4, 10]])

assert np.allclose(
    normalize(matrix),
    np.array([[-1.37281, -0.98058,  0.46291],
              [ 0.39223,  1.37281,  0.92582],
              [ 0.98058, -0.39223, -1.38873]])
)

 #### Задача NumPy-7

 Напишите функцию, вычисляющую какую-нибудь первообразную данного полинома (в качестве константы возьмите $0$). Например, если на вход поступает массив коэффициентов `array([4, 6, 0, 1])`, что соответствует полиному $4x^3 + 6x^2 + 1$, на выходе получается массив коэффициентов `array([1, 2, 0, 1, -2])`, соответствующий полиному $x^4 + 2x^3 + x - 2$.

In [ ]:
def antiderivative(coefs: np.array) -> np.array:
    # your code here

In [ ]:
coefs = np.array([4, 6, 0, 1])

assert np.allclose(
    antiderivative(coefs),
    np.array([1., 2., 0., 1., 0.])
)

In [ ]:
coefs = np.array([1, 7, -12, 21, -6])

assert np.allclose(
    antiderivative(coefs),
    np.array([ 0.2, 1.75, -4., 10.5, -6., 0.])
)

#### Задача NumPy-8

Напишите функцию, делающую данную [треугольную матрицу](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B0%D1%82%D1%80%D0%B8%D1%86%D0%B0) симметричной. Например, если на вход поступает матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
0 & 5 & 6 & 7\\
0 & 0 & 8 & 9\\
0 & 0 & 0 & 10\\
\end{pmatrix},
$$
то на выходе должна быть матрица
$$
\begin{pmatrix}
1 & 2 & 3 & 4\\
2 & 5 & 6 & 7\\
3 & 6 & 8 & 9\\
4 & 7 & 9 & 10\\
\end{pmatrix}.
$$

In [ ]:
def make_symmetric(matrix: np.array) -> np.array:
    # your code here

In [ ]:
matrix = np.array([[1, 2, 3, 4], [0, 5, 6, 7], [0, 0, 8, 9], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[ 1,  2,  3,  4],
              [ 2,  5,  6,  7],
              [ 3,  6,  8,  9],
              [ 4,  7,  9, 10]])
)

In [ ]:
matrix = np.array([[10, 21, 32, 49], [0, 53, 62, 78], [0, 0, 82, 92], [0, 0, 0, 10]])

assert np.allclose(
    make_symmetric(matrix),
    np.array([[10, 21, 32, 49],
              [21, 53, 62, 78],
              [32, 62, 82, 92],
              [49, 78, 92, 10]])
)

#### Задача NumPy-9

Напишите функцию, создающую прямоугольную матрицу из m одинаковых строк, заполненных последовательными натуральными числами от a до b включительно в возрастающем порядке. Например, если m = 5, a = 3, b = 10, то на выходе будет матрица
$$
\begin{pmatrix}
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
3 & 4 & 5 & 6 & 7 & 8 & 9 & 10\\
\end{pmatrix}
$$

In [ ]:
def construct_matrix(m: int, a: int, b: int) -> np.array:
    # your code here

In [ ]:
m = 5
a = 3
b = 10

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10],
              [ 3,  4,  5,  6,  7,  8,  9, 10]])
)

In [ ]:
m = 3
a = 2
b = 6

assert np.allclose(
    construct_matrix(m, a, b),
    np.array([[2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6],
              [2, 3, 4, 5, 6]])
)

#### Задача NumPy-10

Напишите функцию, вычисляющую [косинусную близость](https://en.wikipedia.org/wiki/Cosine_similarity) двух векторов. Например, если на вход поступают вектора `array([-2, 1, 0, -5, 4, 3, -3])` и `array([0, 2, -2, 10, 6, 0, 0])`, ответом будет -0.25.

Вставьте картинку, описывающую ваш опыт выполнения этого задания:

In [ ]:
def cosine_similarity(vec1: np.array, vec2: np.array) -> float:
    # your code here

In [ ]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

In [ ]:
vec1 = np.array([-2, 1,  0, -5, 4, 3, -3])
vec2 = np.array([ 0, 2, -2, 10, 6, 0,  0])

assert np.allclose(cosine_similarity(vec1, vec2), -0.25)

# Бонусное задание (0.01 балла)

Наступило прекрасное время --- весна. Напишите и/или прикрепите примеры того, как вы занимаетесь дейстельностью, которая вас радует этой весной.

In [ ]:
# ٩(◕‿◕｡)۶

Для удобства проверки настоятельно рекомендуется самостоятельно посчитать свою максимальную оценку (исходя из набора решенных задач) и указать ниже.

### Оценка: xx.